.search-box {
  padding: 1rem;
  padding-bottom: 0;
}

.search-bar {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  box-sizing: border-box;
  border: .25rem solid #FFCC00;
  border-radius: 1rem;
}

.search-bar:focus, .search-bar:focus-visible {
  outline: .25rem solid #0065a5;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 720px) {
  .search-bar {
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    border: .25rem solid #FFCC00;
    border-radius: 1rem;
  }

  .search-bar:focus, .search-bar:focus-visible {
    outline: .25rem solid #0065a5;
  }

  .pokemon-container {
    grid-template-columns: 1fr;
  }
}
