.header {
  position: sticky;
  top: 0;
  height: 8rem;
  background-color: #f93a3a;
  text-align: center;
  padding: 1rem;
}

.header > img {
  height: 8rem;
}

.search-box {
  padding: 1.5rem;
  padding-bottom: 0;
}

.search-bar {
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
  box-sizing: border-box;
  border: .5rem solid #FFCC00;
  border-radius: 2rem;
}
