

.pokemon-number {
  font-size: 3.5rem;
  color: #FFF;
  text-align: center;
  justify-self: center;
}

.pokemon-name {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #FFF;
  justify-self: center;
  text-align: center;
}

.pokemon-types {
  justify-self: center;
}

.type-chip {
  background-color: rgba(0, 0, 0, 0.18);
  color: #FFF;
  padding: .5rem 1rem;
  margin: .5rem;
  text-align: center;
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.pokemon-list-tile-img {
  max-width: 8rem;
  justify-self: center;
}

@media screen and (max-width: 720px) {
  .focus-visible:focus-visible {
    outline: .25rem solid #0065a5;
  }

  .pokemon-number {
    font-size: 1.5rem;
  }

  .pokemon-name {
    font-size: 1.5rem;
  }

  .pokemon-list-tile-img {
    max-width: 6rem;
  }

  .type-chip {
    font-size: .75rem;
    padding: .5rem;
    margin: .5rem;
  }
}